body {
    font-family: Arial, sans-serif;
    background-image: url(https://i.pinimg.com/736x/20/c6/6d/20c66d8c3879de616f33b5ed2f672e40.jpg); /* Add your background image URL here */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* White background with some transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#countdown {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.time {
    background: #007BFF;
    color: white;
    padding: 20px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 1.5em;
}

input[type="email"] {
    padding: 10px;
    width: 250px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}